<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs\internal-nlog.txt">
<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
</extensions>
<targets>
    <target xsi:type="File"
            name="todos"
            fileName="TemplateIntegracao.log"
            layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} [${uppercase:${level}}] [Thread:${threadid}] [${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}] ${message} ${exception:format=tostring}"
            maxArchiveDays="14"
            archiveEvery="Hour"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMddHHmmss"
    />
</targets>
<rules>
    <logger name="*" minlevel="Info" writeTo="stdout" />
    <logger name="Microsoft.AspNetCore.*" maxlevel="Error" final="true" />
    <logger name="System.Net.Http.HttpClient.*" maxlevel="Error" final="true" />
    <logger name="*" minlevel="Info" writeTo="todos" />
</rules>
</nlog>